@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply w-full;
    @apply h-full;
}

.defaultIconSize {
    @apply h-7;
    @apply w-7;
}

@responsive {
    .defaultInsetX {
        @apply px-20;
    }

    .defaultInsetY {
        @apply py-10;
    }

    .defaultInset {
        @apply defaultInsetX;
        @apply defaultInsetY;
    }

    @media (max-width: 750px) {

        .defaultInsetX {
            @apply px-6;
        }

        .defaultInsetY {
            @apply py-4;
        }
    }

    @media (max-width: 400px) {

        .defaultInsetX {
            @apply px-2;
        }

        .defaultInsetY {
            @apply py-2;
        }
    }

    .defaultHalfInsetX {
        @apply px-10;
    }

    .defaultHalfInsetY {
        @apply py-5;
    }

    .defaultHalfInset {
        @apply defaultHalfInsetX;
        @apply defaultHalfInsetY;
    }

    @media (max-width: 750px) {

        .defaultHalfInsetX {
            @apply px-3;
        }

        .defaultHalfInsetY {
            @apply py-2;
        }
    }

    @media (max-width: 400px) {

        .defaultHalfInsetX {
            @apply px-1;
        }

        .defaultHalfInsetY {
            @apply py-1;
        }
    }
}

.border-animation {
    position: relative;
}

.border-animation:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    /*border-bottom: solid 2px #4A00E0;*/
    border-bottom-style: solid;
    border-bottom-width: 2px;
    transition: 0.15s ease-in-out;
}

.border-animation:hover:before {
    width: 100%;
}

.averia {
    font-family: "Averia Serif Libre", serif;
}
