.indigo-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: none;
}
.indigo-slider input[type=range]:focus {
  outline: none;
}
.indigo-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #4f46e5;
  border-radius: 1px;
  border: 0px solid #000000;
}
.indigo-slider input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #4f46e5;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #4f46e5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.indigo-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4f46e5;
}
.indigo-slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #4f46e5;
  border-radius: 1px;
  border: 0px solid #000000;
}
.indigo-slider input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #4f46e5;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #4f46e5;
  cursor: pointer;
}
.indigo-slider input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.indigo-slider input[type=range]::-ms-fill-lower {
  background: #4f46e5;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.indigo-slider input[type=range]::-ms-fill-upper {
  background: #4f46e5;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.indigo-slider input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #4f46e5;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #4f46e5;
  cursor: pointer;
}
.indigo-slider input[type=range]:focus::-ms-fill-lower {
  background: #4f46e5;
}
.indigo-slider input[type=range]:focus::-ms-fill-upper {
  background: #4f46e5;
}



.white-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: none;
}
.white-slider input[type=range]:focus {
  outline: none;
}
.white-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: white;
  border-radius: 1px;
  border: 0px solid #000000;
}
.white-slider input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid white;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.white-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
.white-slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: white;
  border-radius: 1px;
  border: 0px solid #000000;
}
.white-slider input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid white;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
}
.white-slider input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.white-slider input[type=range]::-ms-fill-lower {
  background: white;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.white-slider input[type=range]::-ms-fill-upper {
  background: white;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.white-slider input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid white;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
}
.white-slider input[type=range]:focus::-ms-fill-lower {
  background: white;
}
.white-slider input[type=range]:focus::-ms-fill-upper {
  background: white;
}